.note-list {
    margin-top: 20px;
    padding: 10px;
  }
  
  .notes-container {
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .note {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .note-content {
    display: flex;
    align-items: center;
  }
  
  .delete-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .delete-button:hover {
    color: darkred;
  }
  
  .clear-btn {
    padding: 5px 10px;
    background-color: #f44336;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .clear-btn:hover {
    background-color: #d32f2f;
  }
  