.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Note{
  color:white;
  background-color: #282c34;
  text-align: center;
  min-height: 10vh;
  text-size-adjust: 125%;
  
}

.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.light {
  background-color: #f0f0f0;
  color: #333;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
}

.App-main {
  flex: 1;
  padding: 20px;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #4fa3c4;
}
